
body,h1,p {
  font-family: 'Playfair Display', serif;
  color:black;
  font-size:30px;
}
h1 {
  letter-spacing: 6px
}
.w3-row-padding img {
  margin-bottom: 12px
}

.jumbotron{
  background-image: url(marbel1.jpg)
}
p{
  border-style:none
}
body {
  background-image: url("paper.gif");
}
